$primaryColor: purple;
$secondaryColor: green;
$accentColor: rgb(198, 133, 214);
$fontColor: #333;

$defaultFont: "Roboto", serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 16px;